section {
  display: block;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.contact {
  display: block;
}

.contact_method {
  display: block;
  padding: 20px 40px;
  margin: 45px 0px;
  border: 1px solid black;
  border-radius: 20px;
  transition: all 1000ms ease 0s;
}

.contact_method p {
  color: rgb(83, 83, 83);
}

.contact_title {
  display: flex;
  margin-bottom: 17px;
}

.contact_method p {
  display: inline-block;
  margin: auto;
  font-size: 17px;
}

.contact_method:hover {
  transform: translateY(8px);
  transform: translateX(-8px);
  box-shadow: 10px 10px 20px rgb(190, 190, 190);
  transition: all 200ms ease 0s;
}

.contact_method img {
  margin-right: 25px;
}
.contact_method h2 {
  margin: auto 0px;
  color: rgb(0, 115, 168);
}

.contact_method img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .contact_title {
    flex-direction: column;
    align-items: center;
  }
  .contact_method img {
    margin: 0;
    margin-bottom: 10px;
  }
  .contact_method {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-block: 20px;
  }
}
