@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;1,300&display=swap");

:root {
  --fs-100: 1.4rem;
  --fs-150: 1.6rem;
  --fs-200: 1.7rem;
  --fs-300: 2rem;
  --fs-400: 2.25rem;
  --fs-450: 2.8rem;
  --fs-500: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: unset;
}

html,
body {
  height: 100%;
}

body {
  padding-top: 90px;
  background-color: rgb(29, 24, 24);
  position: relative;
}

li,
a,
h1,
h3,
h2,
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: var(--fs-100);
  color: rgb(255, 245, 237);
  text-decoration: none;
  background-color: unset;
}

section {
  margin-bottom: 2rem;
}

p {
  font-weight: 300;
  font-size: var(--fs-100);
}

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding-inline: 5%;
  display: flex;
  align-items: center;

  transition: 0.3s;
}

header.sticky_header {
  backdrop-filter: blur(5px);
  height: 56px;
  background-color: rgba(14, 11, 11, 0.781);
}

.header_wrap.sticky_header_w {
  padding-block: 0;
}

.header_wrap {
  transition: 0.3s;
  margin-block: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_button {
  display: none;
}

.menu_button img {
  width: 30px;
  height: auto;
  filter: invert(100%) drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.151));
}

.dropdown_menu {
  display: none;
  height: 0;
  position: absolute;
  top: 90px;
  right: 1rem;
  left: 1rem;
  margin-top: 1rem;
  background-color: rgba(20, 19, 17, 0.9);
  border-radius: 1rem;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.dropdown_menu .nav_links {
  display: flex;
  flex-direction: column;
}

.main_nav {
  display: flex;
  align-items: center;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 1.4rem;
}

.nav_links li:last-child {
  padding-right: 0px;
}

.nav_links li a {
  display: flex;
  transition: all 0.3s ease 0s;
  font-size: var(--fs-150);
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav_links li a:hover {
  color: rgb(252, 134, 0);
  text-shadow: 0px 0px 12px rgba(2, 2, 2, 0.2);
}

.nav_links li a:active {
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(252, 134, 0);
  font-size: var(--fs-500);
  margin-bottom: 20px;
}

h2 {
  color: rgb(255, 214, 167);
  font-weight: 500;
  font-size: var(--fs-400);
  margin: 14px 0px;
}

h3 {
  color: rgb(255, 233, 206);
  font-weight: 500;
}

article {
  max-width: 1000px;
  display: block;
  padding: 2rem 2rem;
  margin-inline: auto;
  margin-bottom: 125px;
}

article ul {
  padding-left: 30px;
  margin-bottom: 24px;
}

article li {
  font-weight: 300;
}

article > ul {
  position: relative;
  left: 60px;
  margin-bottom: 24px;
}

article p {
  margin-bottom: 24px;
}

.page_button {
  background-color: black;
  color: white;
  border-radius: 15px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-300);
  padding: 5px 12px;
  margin-right: 20px;
  border: 3px solid black;
  transition: all 700ms ease 0s;
}

.page_button:hover {
  background-color: white;
  color: black;
  transition: all 200ms ease 0s;
}

.page_button:active {
  background-color: white;
  border: 3px solid white;
}

.logo {
  cursor: pointer;
  width: 80px;
  display: flex;
  justify-content: center;
}

.logo_image {
  height: 30px;
  width: auto;
}

footer p {
  font-weight: 50;
  font-size: var(--fs-100);
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: unset;
}

p a:hover {
  color: rgb(255, 82, 82);
}

p a {
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 768px) {
  :root {
    --fs-100: 1.2rem;
    --fs-300: 1.75rem;
    --fs-400: 1.9rem;
    --fs-500: 3rem;
  }

  .main_nav {
    display: none;
  }

  .menu_button {
    display: flex;
  }

  .dropdown_menu.open {
    display: block;
    height: auto;
  }

  article {
    padding-inline: 7%;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  h1 {
    font-size: var(--fs-450);
    margin-bottom: 15px;
  }

  header {
    padding-block: 15px;
  }

  .nav_links li {
    padding: 15px 15px;
  }
}
